body {
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; 
font-color: #000;
}

.logo {
	top: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	text-align: center;
}

h1 {
	font-size: 777px;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;


}

h2 {
	font-size: 77px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
