body {
font-family: 'Quicksand', sans-serif;
font-color: #000;
}

/* Nav */


/* Main */ 

/* Logo */ 

.logo {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}

h1 {
	font-size: 333px;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}

h2 {
    font-size: 44px;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0px;
    margin-bottom: -62px;
}
